<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/header :: header}">
    <title>DB Final Project</title>
  </head>
  <body class="dbfp-black">
    <div th:replace="~{fragments/navigation :: navigation}">Navigation goes here!</div>
    <main class="container">
      <!-- Toast Message -->
      <div th:replace="~{fragments/toast :: toast}"></div>
      <br/>
      <h2 style="font-family:Castellar; font-size: 40px"> Add Job</h2>
      <form action="/addJob" method="post">
        <p><input id="companyName" class="form-control form-control-lg" type="text" placeholder="Company Name" required
                  name="companyName"></p>
        <p><input id="jobTitle" class="form-control form-control-lg" type="text" placeholder="Job Title" required
                  name="jobTitle"></p>
        <p><input id="salary" class="form-control form-control-lg" type="text" placeholder="Salary" required
                  name="salary"></p>
        <p>
          <select name="major" id="major" class="form-control form-control-lg">
            <option disabled selected value="0">Select Major</option>
            <option th:each="major : ${majors}" th:value="${major.majorId}"
                    th:text="${major.majorDescription} + ' (' + ${major.getMajor()} + ')'">Choose
            </option>
          </select>
        </p>
        <p>
          <button class="btn btn-primary" type="submit">
            <i class="fa fa-paper-plane"></i> Submit
          </button>
        </p>
      </form>
      <img src="images/hog.jpg" style="width:50%" class="dbfp-mid-mypic">
    </main>
    <div th:replace="~{fragments/footer :: footer}">Footer goes here!</div>
  </body>
</html>