<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/header :: header}">
    <title>DB Final Project</title>
  </head>
  <body class="dbfp-black">
    <div th:replace="~{fragments/navigation :: navigation}">Navigation goes here!</div>
    <main class="container">
        <!-- Toast Message -->
      <div th:replace="~{fragments/toast :: toast}"></div>
      <br/>
        <h2 style="font-family:Castellar; font-size: 40px"> Add Student</h2>
        <form action="/addStudent" method="post">
          <div class="form-group">
            <input id="studentId" placeholder="Student ID" th:value="${form.studentId}" class="form-control form-control-lg" type="text" required
                   name="studentId">
          </div>
          <br/>
          <div class="form-group">
            <input id="studentName" placeholder="Student Name" th:value="${form.studentName}" class="form-control form-control-lg" type="text"
                   required
                   name="studentName">
          </div>
          <br/>
          <div class="form-group">
            <select name="major" id="major" th:value="${form.major}" class="form-control form-control-lg">
              <option disabled selected value="0">Select Major</option>
              <option th:each="major : ${majors}" th:value="${major.majorId}"
                      th:selected="${major.majorId==form.major}"
                      th:text="${major.majorDescription} + ' (' + ${major.getMajor()} + ')'">Choose
              </option>
            </select>
          </div>
          <br/>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">
              <i class="fa fa-paper-plane"></i>Submit
            </button>
          </div>
        </form>
        <img src="images/hog.jpg" style="width:50%" class="dbfp-mid-mypic">
      </div>
    </main>
    <div th:replace="~{fragments/footer :: footer}">Footer goes here!</div>
  </body>
</html>