<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/header :: header}"><title>None</title></head>
  <body class="dbfp-black">
    <div th:replace="~{fragments/navigation :: navigation}">Navigation goes here!</div>
    <main class="container">
      <div th:replace="~{fragments/toast :: toast}"></div>
      <h2 style="font-family:Castellar; font-size: 40px"> Add Application </h2>
      <form action="/addApplication" method="post">
        <p><input id="studentId" class="dbfp-input dbfp-padding-16" type="text" placeholder="Student ID" required
                  name="studentId"></p>
        <p><input id="jobId" class="dbfp-input dbfp-padding-16" type="text" placeholder="Job ID" required name="jobId">
        </p>
        <p>
          <button class="btn btn-primary" type="submit">
            <i class="fa fa-paper-plane"></i> Submit
          </button>
        </p>
      </form>
      <img src="images/hog.jpg" style="width:50%" class="dbfp-mid-mypic">
    </main>
    <div th:replace="~{fragments/footer :: footer}">Footer goes here!</div>
  </body>
</html>