<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/header :: header}">
    <title>DB Final Project</title>
  </head>
  <body class="dbfp-black">
    <div th:replace="~{fragments/navigation :: navigation}">Navigation goes here!</div>
    <main class="container">
        <!-- Toast Message -->
        <div th:if="${toast}" th:class="${toast.getCssClass()}" role="alert">
          <i class="fa fa-fw" th:classappend="${toast.getSymbol()}"></i>
          <div th:text="${toast.getMessage()}"></div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <h2 style="font-family:Castellar; font-size: 40px"> Add Student</h2>
        <form action="/addStudent" method="post">
          <div class="form-group">
            <label for="studentId">Student ID</label>
            <input id="studentId" class="form-control" type="text" required
                   name="studentId">
          </div>
          <div class="form-group">
            <label for="studentName">Student Name</label>
            <input id="studentName" class="form-control" type="text"
                   required
                   name="studentName">
          </div>
          <div class="form-group">
            <label for="major">Select Major</label>
            <select name="major" id="major" class="form-control">
              <option selected disabled value="-1"></option>
              <option th:each="major : ${majors}" th:value="${major.majorId}"
                      th:text="${major.majorDescription} + ' (' + ${major.getMajor()} + ')'">Choose
              </option>
            </select>
          </div>
          <br/>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">
              <i class="fa fa-paper-plane"></i>Submit
            </button>
          </div>
        </form>
        <img src="images/hog.jpg" style="width:50%" class="dbfp-mid-mypic">
      </div>
    </main>
    <div th:replace="~{fragments/footer :: footer}">Footer goes here!</div>
  </body>
</html>