<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/header :: header}"><title>None</title></head>
  <body class="dbfp-black">
    <div th:replace="~{fragments/navigation :: navigation}">Navigation goes here!</div>
    <div class="dbfp-padding-large" id="main">
      <div th:replace="~{fragments/toast :: toast}"></div>
      <br/>
      <h2 style="font-family:Castellar; font-size: 40px"> Add Application </h2>
      <form action="/addApplication" method="post">
        <p>
        <select th:field="${form.selectedStudent}" class="form-control form-control-lg">
          <option disabled selected value="0">Select Student ID</option>
          <option th:each="students : ${form.studentList}" th:value="${students.id}"
                  th:text="${students.id} + ' (' + ${students.studentName} + ')'">Choose
          </option>
        </select>
        </p>
        <p>
          <select th:field="${form.selectedJob}" class="form-control form-control-lg">
            <option disabled selected value="0">Select Job ID</option>
            <option th:each="jobs : ${form.getJobList()}" th:value="${jobs.id}"
                    th:text="${jobs.companyName()} + ' (' + ${jobs.jobTitle} + ')'">Choose
            </option>
          </select>
        </p>
        <p>
          <button class="btn btn-primary" type="submit">
            <i class="fa fa-paper-plane"></i> Submit
          </button>
        </p>
      </form>
      <img src="images/hog.jpg" style="width:50%" class="dbfp-mid-mypic">
    </div>
    <div th:replace="~{fragments/footer :: footer}">Footer goes here!</div>
  </body>
</html>