<!DOCTYPE HTML>
<!-- View Applications HTML page>-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DB Project: viewApplication</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/dbfp.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="https://arkansasrazorbacks.com/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Montserrat", sans-serif
        }

        .dbfp-row-padding img {
            margin-bottom: 12px
        }

        /* Set the width of the sidebar to 120px */
        .dbfp-sidebar {
            width: 140px;
            background: #222;
        }

        /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
        #main2 {
            margin-right: 200px;
            margin-left: 200px
        }

        /* Remove margins from "page content" on small screens */
        @media only screen and (max-width: 600px) {
            #main2 {
                margin-right: 0;
                margin-left: 0
            }
        }
    </style>
</head>
<body class="dbfp-black">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="dbfp-sidebar dbfp-bar-block dbfp-small dbfp-hide-small dbfp-center">
    <!-- Avatar image in top left corner -->
    <img src="images/uofa.jpg" style="width:100%">
    <a href="/" class="dbfp-bar-item dbfp-button dbfp-padding-large dbfp-hover-black">
        <i class="fa fa-home dbfp-xxlarge"></i>
        <p>HOME</p>
    </a>
    <a href="/addStudent" class="dbfp-bar-item dbfp-button dbfp-padding-large dbfp-hover-black">
        <i class="fa fa-user dbfp-xxlarge"></i>
        <p>STUDENT</p>
    </a>
    <a href="/addJob" class="dbfp-bar-item dbfp-button dbfp-padding-large dbfp-hover-black">
        <i class="fa fa-suitcase dbfp-xxlarge"></i>
        <p>JOB</p>
    </a>
    <a href="/addApplication" class="dbfp-bar-item dbfp-button dbfp-padding-large dbfp-hover-black">
        <i class="fa fa-edit dbfp-xxlarge"></i>
        <p>APPLICATION</p>
    </a>
    <a href="/viewStudent" class="dbfp-bar-item dbfp-button dbfp-padding-large dbfp-hover-black">
        <i class="fa fa-eye dbfp-xxlarge"></i>
        <p>VIEW STUDENTS</p>
    </a>
    <a href="/viewJob" class="dbfp-bar-item dbfp-button dbfp-padding-large dbfp-hover-black">
        <i class="fa fa-eye dbfp-xxlarge"></i>
        <p>VIEW JOBS</p>
    </a>
    <a href="#" class="dbfp-bar-item dbfp-button dbfp-padding-large dbfp-black">
        <i class="fa fa-eye dbfp-xxlarge"></i>
        <p>VIEW APPLICATION</p>
    </a>
</nav>

<!-- Top of Web Page Header >-->
<div class="dbfp-padding-large" id="main2">
    <!-- Toast Symbols -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
        </symbol>
        <symbol id="info-fill" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
        </symbol>
        <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
        </symbol>
    </svg>
    <!-- Toast Message -->
    <div th:if="${toast}" th:class="${toast.getCssClass()}" role="alert">
        <svg class="bi flex-shrink-0 me-2" role="img">
            <use th:xlink:href="${toast.getSymbol()}"></use>
        </svg>
        <div th:text="${toast.getMessage()}"></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <h2 style="font-family:Castellar; font-size: 40px"> View Applications </h2>

    <!-- Dropdown to select search method>-->
    <form action="/viewApplication" method="post">
        <div>
            <select onchange="this.form.submit()" name="searchMethod" id="searchMethod"
                    class="dbfp-input dbfp-padding-16">
                <option th:selected="${searchMethod==0}" value>Search By</option>
                <option th:selected="${searchMethod==1}" value="1">View All Applications</option>
                <option th:selected="${searchMethod==2}" value="2">View All Applications by Major</option>
                <option th:selected="${searchMethod==3}" value="3">View All Applications by Student ID</option>
                <option th:selected="${searchMethod==4}" value="4">View All Applications by Specific Job</option>
            </select>
        </div>
    </form>
    <br>
    <!-- Picture Shown for initial load>-->
    <div th:if="${noList and initialLoad}">
        <img src="images/hog.jpg" style="width:50%" class="dbfp-mid-mypic">
    </div>

    <!-- View ALL Applications Output Table>-->
    <div th:if="${allApplications}">
        <div th:if="${noList}">
            <img src="images/hog.jpg" style="width:50%" class="dbfp-mid-mypic">
        </div>
        <!-- Start of table >-->
        <table class="dbfp-content-table" th:unless="${noList}">
            <thead>
            <tr>
                <th>Student Name</th>
                <th>Company Name</th>
                <th>Salary</th>
                <th>Major</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="applicationElement : ${allApplications}">
                <td th:text="${applicationElement.getStudentName()}"></td>
                <td th:text="${applicationElement.getCompanyName()}"></td>
                <td th:text="${'$' + applicationElement.getSalary()}"></td>
                <td th:text="${applicationElement.getMajorDescription()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- View Applications by Major Dropdown / Output Table>-->
    <div th:if="${majorList}">
        <form action="/viewApplication2" method="post">
            <input type="hidden" th:value="${searchMethod}" name="searchMethod"/>
            <div><select onchange="this.form.submit()" name="major" id="major" class="dbfp-input dbfp-padding-16">
                <optgroup label="Majors">
                    <option th:if="majorList" disabled selected value>Select Major</option>
                    <option th:each="major : ${majorList}" th:value="${major.getMajorId()}"
                            th:text="${major.getMajorDescription()} + ' (' + ${major.getMajor()} + ')'">Choose
                    </option>
                </optgroup>
            </select></div>
        </form>
        <br>
        <div th:if="${noList or #lists.isEmpty(majorResults)}">
            <img src="images/hog.jpg" style="width:50%" class="dbfp-mid-mypic">
        </div>
        <!-- Start of table >-->
        <table class="dbfp-content-table" th:unless="${noList or #lists.isEmpty(majorResults)}">
            <thead>
            <tr>
                <th>Student Name</th>
                <th>Company Name</th>
                <th>Salary</th>
                <th>Major</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="majorElement : ${majorResults}">
                <td th:text="${majorElement.getStudentName()}"></td>
                <td th:text="${majorElement.getCompanyName()}"></td>
                <td th:text="${'$' + majorElement.getSalary()}"></td>
                <td th:text="${majorElement.getMajorDescription()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- View Applications by Student Dropdown / Output Table>-->
    <div th:if="${studentList}">
        <form action="/viewApplication2" method="post">
            <input type="hidden" th:value="${searchMethod}" name="searchMethod"/>
            <div><select onchange="this.form.submit()" name="studentId" id="studentId"
                         class="dbfp-input dbfp-padding-16">
                <optgroup label="Students">
                    <option disabled selected value>Select Student</option>
                    <option th:each="student : ${studentList}" th:value="${student.getId()}"
                            th:text="${student.getId()} + ' (' + ${student.getStudentName()} + ')'">Choose
                    </option>
                </optgroup>
            </select></div>
        </form>
        <br>
        <div th:if="${noList or #lists.isEmpty(studentResults)}">
            <img src="images/hog.jpg" style="width:50%" class="dbfp-mid-mypic">
        </div>
        <!-- Start of table >-->
        <table class="dbfp-content-table" th:unless="${noList or #lists.isEmpty(studentResults)}">
            <thead>
            <tr>
                <th>Student Name</th>
                <th>Company Name</th>
                <th>Salary</th>
                <th>Major</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="studentElement : ${studentResults}">
                <td th:text="${studentElement.getStudentName()}"></td>
                <td th:text="${studentElement.getCompanyName()}"></td>
                <td th:text="${'$' + studentElement.getSalary()}"></td>
                <td th:text="${studentElement.getMajorDescription()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- View Applications by Jobs Dropdown / Output Table>-->
    <div th:if="${jobList}">
        <form action="/viewApplication2" method="post">
            <input type="hidden" th:value="${searchMethod}" name="searchMethod"/>
            <div><select onchange="this.form.submit()" name="jobId" id="jobId" class="dbfp-input dbfp-padding-16">
                <optgroup label="Jobs">
                    <option disabled selected value>Select Job</option>
                    <option th:each="job : ${jobList}" th:value="${job.getId()}"
                            th:text="${job.getJobTitle()} + ' (' + ${job.getCompanyName()} + ')'">Choose
                    </option>
                </optgroup>
            </select></div>
        </form>
        <br>
        <div th:if="${noList or #lists.isEmpty(jobResults)}">
            <img src="images/hog.jpg" style="width:50%" class="dbfp-mid-mypic">
        </div>
        <!-- Start of table >-->
        <table class="dbfp-content-table" th:unless="${noList or #lists.isEmpty(jobResults)}">
            <thead>
            <tr>
                <th>Student Name</th>
                <th>Company Name</th>
                <th>Salary</th>
                <th>Major</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="jobElement : ${jobResults}">
                <td th:text="${jobElement.getStudentName()}"></td>
                <td th:text="${jobElement.getCompanyName()}"></td>
                <td th:text="${'$' + jobElement.getSalary()}"></td>
                <td th:text="${jobElement.getMajorDescription()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>
</html>