<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/header :: header}">
    <title>DB Final Project</title>
  </head>
  <body class="dbfp-black">
    <div th:replace="~{fragments/navigation :: navigation}">Navigation goes here!</div>
    <main class="container">
      <!-- Toast Message -->
      <div th:if="${#lists.isEmpty(students)} and not ${initialLoad}"
           class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
        <i class="fa fa-fw fa-question-circle"></i>
        <div>No results returned for the selected major</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <h2 style="font-family:Castellar; font-size: 40px"> View all Students for Selected Major </h2>

      <form action="/viewStudent" method="post">
        <div><select onchange="this.form.submit()" name="major" id="major" class="dbfp-input dbfp-padding-16">
          <option th:each="major : ${majors}" th:value="${major.majorId}"
                  th:text="${major.majorDescription} + ' (' + ${major.getMajor()} + ')'">Choose
          </option>
        </select></div>
      </form>
      <div th:if="${#lists.isEmpty(students)}">
        <img src="images/hog.jpg" style="width:50%" class="dbfp-mid-mypic">
      </div>
      <table class="dbfp-content-table" th:unless="${#lists.isEmpty(students)}">
        <thead>
          <tr>
            <th>Student ID</th>
            <th>Student Name</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="student : ${students}">
            <td th:text="${student.getId()}"></td>
            <td th:text="${student.getStudentName()}"></td>
          </tr>
        </tbody>
      </table>
    </main>
    <div th:replace="~{fragments/footer :: footer}">Footer goes here!</div>
  </body>
</html>