<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/header :: header}">
    <title>DB Final Project</title>
  </head>
  <body class="dbfp-black">
    <div th:replace="~{fragments/navigation :: navigation}">Navigation goes here!</div>
    <main class="container">
      <!-- Toast Message -->
      <div th:if="${#lists.isEmpty(jobs)} and not ${initialLoad}"
           class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
        <i class="fa fa-fw fa-question-circle"></i>
        <div>No results returned for the selected major</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <h2 style="font-family:Castellar; font-size: 40px"> View all Jobs for Selected Major </h2>

      <form action="/viewJob" method="post">
        <div>
          <select onchange="this.form.submit()" name="major" id="major" class="dbfp-input dbfp-padding-16">
            <option selected disabled value="-1">Majors...</option>
            <option th:each="major : ${majors}" th:value="${major.majorId}"
                    th:text="${major.majorDescription} + ' (' + ${major.getMajor()} + ')'">Choose
            </option>
          </select>
        </div>
      </form>
      <div th:if="${#lists.isEmpty(jobs)}">
        <img src="images/hog.jpg" style="width:50%" class="dbfp-mid-mypic">
      </div>
      <table class="dbfp-content-table" th:unless="${#lists.isEmpty(jobs)}">
        <thead>
          <tr>
            <th>Job ID</th>
            <th>Company Name</th>
            <th>Job Title</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="job : ${jobs}">
            <td th:text="${job.getId()}"></td>
            <td th:text="${job.getCompanyName()}"></td>
            <td th:text="${job.getJobTitle()}"></td>
            <td th:text="${#numbers.formatCurrency(job.getSalary())}"></td>
          </tr>
        </tbody>
      </table>
    </main>
    <div th:replace="~{fragments/footer :: footer}">Footer goes here!</div>
  </body>
</html>