<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/header :: header}">
    <title>DB Final Project</title>
  </head>
  <body class="dbfp-black">
    <div th:replace="~{fragments/navigation :: navigation}">Navigation goes here!</div>
    <div class="dbfp-padding-large" id="main">
      <div th:replace="~{fragments/toast :: toast}"></div>
      <br/>
      <h2 style="font-family:Castellar; font-size: 40px"> View all Students for Selected Major </h2>

      <form action="/viewStudent" method="post">
        <div>
          <select onchange="this.form.submit()" th:field="${form.selectedMajor}" name="major" id="major" class="form-control form-control-lg">
            <option disabled selected value="0">Select Major</option>
            <option th:each="major : ${form.majorList}" th:value="${major.majorId}"
                    th:text="${major.majorDescription} + ' (' + ${major.major} + ')'">Choose
            </option>
          </select>
        </div>
      </form>
      <div th:if="${#lists.isEmpty(form.studentList)}">
        <img src="images/hog.jpg" style="width:50%" class="dbfp-mid-mypic">
      </div>
      <table class="dbfp-content-table" th:unless="${#lists.isEmpty(form.studentList)}">
        <thead>
          <tr>
            <th>Student ID</th>
            <th>Student Name</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="student : ${form.studentList}">
            <td th:text="${#numbers.formatInteger(student.id,9)}"></td>
            <td th:text="${student.studentName()}"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div th:replace="~{fragments/footer :: footer}">Footer goes here!</div>
  </body>
</html>